name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 3.1.x
    - name: files
      run: ls
    - name: log
      run: find . -type f
    - name: initial
      run: |
        FILECOUNT=$(ls | wc -l)
        echo $FILECOUNT
        if [ $FILECOUNT -ne 2 ]; then
          echo "Failed!"
          exit 1;
        fi
        echo "passed!"
    #- name: Restore dependencies
    #  run: dotnet restore
    #- name: Build
    #  run: dotnet build --no-restore
    #- name: Test
    #  run: dotnet test --no-build --verbosity normal
